{% extends 'base.html.twig' %}
{% block title %}Modifier un personnage{% endblock %}
{% block body %}
<h1>Modifier un personnage</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}
<a href="{{ path('admin_characters_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
