@use "../abstracts/variables" as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    padding: 0 10vw;
    width: 100%;
    max-width: 100%;
}


body {
    font-family: v.$font-text;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

h2 {
    font-family: v.$font-h2;
    padding: 2rem;
    font-size: 2.5rem;
    color: v.$primary-brown;
    text-align: center;
}