@use "../abstracts/variables" as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    padding: 0 6rem;
    width: 100%;
    max-width: 100%;
}


body {
    font-family: v.$font-text;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}