@font-face {
    font-family: 'Cinzel Decorative';
    src: url(../../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url(../../fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'IM Fell English';
    src: url(../../fonts/IM_Fell_English/IMFellEnglish-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'IM Fell English';
    src: url(../../fonts/IM_Fell_English/IMFellEnglish-Italic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lora';
    src: url(../../fonts/Lora/static/Lora-Regular.ttf);
    font-weight: 400;

}

@font-face {
    font-family: 'Lora';
    src: url(../../fonts/Lora/static/Lora-Italic.ttf);
    font-weight: 400;

}